.offcanvas-body {
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e31277;
    border-radius: 4px;
  }
}
